* {
    box-sizing: border-box;
    color: black;
}

.App {
    padding: 50px;
    max-width: 1000px;
}

.App, form {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

form, .contact, .chat__window, .chat__messages {
    display: flex;
}

form {
    flex-direction: column;
}

.login__form,
.chat__new {
    max-width: 300px;
    margin: 0 auto;
}

input, button, .chat__window > form, .chat__window {
    width: 100%;
}

label, input {
    margin-top: 10px;
}

input {
    height: 30px;
    border: 1px solid #5eb043;
    padding: 0 10px;
}

input, .chat {
    border-radius: 5px;
}

button {
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #5eb043;
    text-transform: uppercase;
    margin-top: 20px;
}

.contact > div,
button {
    color: white;
    font-weight: bold;
}

.chat {
    display: flex;
    flex-direction: column;
    border: 2px solid #5eb043;
}

.chat__new {
    text-align: center;
    padding: 10px 20px;
}

.chat__new > input {
    margin-bottom: 5px;
}

.chat__new > button {
    margin-top: 10px;
}

.chat__window {
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
    height: 100%;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.wrapper {
    height: 500px;
    overflow-y: scroll;
    -ms-overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat__messages {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 30px;
    padding: 10px;
}

.wrapper, .chat__messages {
    min-height: 500px;
    transform: scaleY(-1);
}

.message {
    background-color: rgba(179, 185, 183, 0.22);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.chat__window > form {
    flex-direction: row;
    padding: 0 30px;
    align-items: flex-end;
}

.chat__window > form > button,
.chat__window > form > input {
    margin: 0;
}

.chat__window > form > button {
    max-width: 100px;
    border-radius: 0 5px 5px 0;
}

.chat__window > form > input {
    height: 40px;
    border: 2px solid #5eb043;
    border-radius: 5px 0 0 5px;
}

.chat__window > form > input:focus {
    outline: none !important;
}

.contact {
    background-color: #5eb043;
    padding: 10px 20px;
    align-items: center;
}

.contact > img {
    margin: 0 15px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.number__invalid, .id__invalid, .token__invalid {
    color: red;
    font-size: 10px;
}

.outgoing {
    align-self: flex-end;
}

.incoming {
    align-self: flex-start;
}